<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Countries</title>
</head>

<body>
    <h1>Countries</h1>
    <form action="/data" method="POST">
        Select Country:
        <select name="country">
            <option value="estonia">Estonia</option>
            <option value="latvia">Latvia</option>
            <option value="lithuania">Lithuania</option>
        </select><br>
        <button type="submit">Show Country Data</button>

    </form><div>
    <p>Name: <b><%= countryData.countryName %></b></p>
    <p>Top Level Domain: <b><%= countryData.countryDomain %></b></p>
    <p>Calling Code: <b><%= countryData.countryCode %></b></p>
    <p>Capital: <b><%= countryData.countryCapital %></b></p>
    <p>Region: <b><%= countryData.countryRegion %></b></p>
    <p>Subregion: <b><%= countryData.countrySubRegion %></b></p>
    <p>Population: <b><%= countryData.countryPopulation %></b></p>
    <p>Timezone: <b><%= countryData.countryTimezone %></b></p>
    <p>Language: <b><%= countryData.countryLanguage %></b></p>
    <p>Currency: <b><%= countryData.countryCurrency %></b></p>
    <p><img src= <%= countryData.countryFlag %>></p></div>
</body>

</html>